#aboutMe2 {
	padding: 5%;
	h3, blockquote, cite {
	color: $default-primary-color !important;
	}
	h3 {
		margin-right: 2%;
	}
	cite {
		font-weight: bolder;
	}
}

#skills {
	background-image: url('../img/html3.jpg');
	background-size: cover;
    position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-repeat: repeat;
}

#bgBlack2 {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 5%;
	.titleSkills {
	margin-bottom: 5%;
	color: $light-primary-color;
	font-family: $cursiveFont;
}
}

