#aboutMe2 {
	padding: 5%;
	h3, blockquote, cite {
	color: $default-primary-color !important;
	}
	h3 {
		margin-right: 2%;
	}
	cite {
		font-weight: bolder;
	}
}

#skills {
	background-image: url('../img/html3.jpg');
	background-size: cover;
    position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-repeat: repeat;
}

#bgBlack2 {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5%;
	.seccSkill {
		margin-bottom: 5%;
		p {
			font-size: 1.5em;
		}
	}
}

.titleSecc {
	margin-bottom: 5%;
	color: $default-primary-color;
	font-family: $cursiveFont;
	font-size: 3.5em;
	font-weight: bolder;
}

.skill {
		font-family: $allFont !important;
		font-weight: bolder;
		font-size: 1.8em;
	}

