header{
    font-size: 1.8em !important;
}

#fotoInicio {
	background-image: url('../img/sanf3.jpg');
	background-size: cover;
    width: 100%;
	height: 50em;
    position: center;
	background-repeat: repeat;
	background-attachment: fixed;
}

#bgBlack {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50em;
}

.firstText, h3 {
    margin-top: 10%;
        font-size: 2em;
        font-family: $allFont;  
        color: #D9CDBB !important;
        
        h1 {
            font-family: $cursiveFont; 
        } 
        p {
           font-size: 1em; 
        }
    
}  

@media (min-width: 300px) and (max-width: 600px) {
    #fotoInicio {
        background-image: url('../img/sanf4.jpg');
        background-size: cover;
        position: left;
    }
   .firstText {
    margin-top: 25%;
   }
    
}

