
#fotoInicio {
	background-image: url('../img/sanf3.jpg');
	background-size: cover;
    width: auto;
	height: 50em;
    position: center;
	background-repeat: repeat;
	background-attachment: fixed;
}

#bgBlack {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+62&0+2,0.83+62 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(247,247,247,0) 2%, rgba(0,0,0,0.83) 62%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(247,247,247,0) 2%,rgba(0,0,0,0.83) 62%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(247,247,247,0) 2%,rgba(0,0,0,0.83) 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d4000000',GradientType=1 ); /* IE6-9 */
    height: 50em;
}

.firstText {
    margin-top: 10%;
    font-size: 1.5em;
    h1 {
        font-family: $cursiveFont;
        font-size: 2em; 
    } 
    .title {
        font-size: 1.6em;
        color: $light-primary-color !important;
        font-family: $allFont !important;
        font-weight: bolder;
    }
    
    p {
        margin-top: 5%;
        font-weight: bolder;
    }
    
}  

@media (min-width: 300px) and (max-width: 600px) {
    #fotoInicio {
        background-image: url('../img/sanf4.jpg');
        width: auto;
        height: auto;
        position: left;
    }
    #bgBlack {
        background: none;
        background-color: rgba(0, 0, 0, 0.5);
    }
   .firstText {
    margin-top: 25%;
   }
    
}

