#proyectos {
	padding-top: 5%;
	padding-bottom: 10%;
}

.imgproyectos {
	width: 100%;
	margin-bottom: 5%;
}

.close{
	color: black !important;
}

.btn-primary {
	color: $dark-primary-color !important;
    background-color: $dark-primary-color !important;
    border-color: $dark-primary-color  !important;
}

.btn-primary:hover{
    color: $dark-primary-color !important;
    background-color: $accent-color !important;
    border-color: $accent-color  !important;
}

.linkProyectos {
		color: $default-primary-color !important;
		font-size: 2em;
		font-weight: bolder;
	}
