#proyectos {
	padding-top: 5%;
	padding-bottom: 10%;
}

.imgproyectos {
	width: 100%;
	margin-bottom: 5%;
}

.close{
	color: black !important;
}

.btn-primary {
	color: $dark-primary-color !important;
    background-color: $dark-primary-color !important;
    border-color: $dark-primary-color  !important;
}

.btn-primary:hover{
    color: $dark-primary-color !important;
    background-color: $accent-color !important;
    border-color: $accent-color  !important;
}

.linkProyectos {
		color: $default-primary-color !important;
		font-size: 2em;
		font-weight: bolder;
	}

.hovereffect1 {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect1 .overlay1 {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect1 img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}


.info1 {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin-top:50px;
padding: 10px;
}

.hovereffect1 a.info1:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect1:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect1:hover .overlay1 {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect1:hover h2,.hovereffect1:hover a.info1 {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect1:hover a.info1 {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
.hovereffect1 .overlay1:before {
  border: none !important;
  width: 0 !important;
  height: 0 !important;
}

