#elementos {
	background-image: url('../img/giphy.gif');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;	
	width: 100%;

	.textElem {
		h2 {
			font-size: 3.5em;
			font-family: $cursiveFont;
			font-weight: bolder;
			color: $light-primary-color !important;
		}
		p {
			font-size: 2em;
			color: $light-primary-color !important;
		}
	}
}

.bgblack3 {
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	padding: 8%;
}

.titleSecc2 {
	margin-bottom: 5%;
	color: $light-primary-color;
	font-family: $cursiveFont;
	font-size: 3.5em;
	font-weight: bolder;
}

@media (min-width: 300px) and (max-width: 600px) {
	#elementos {
		background-size: cover;
		background-attachment: none;
		h2 {
			font-size: 2.2em;
		}
		.textElem {
			h2 {
				font-size: 2em;
			}
			p {
				font-size: 1.5em;
			}
		}
	}
}

