$allFont: 'Poiret One', cursive;
$cursiveFont: 'Dancing Script', cursive !important;
$color1: #D5CAD5;
$color2: #493131;
$dark-primary-color: #00796B; 
$default-primary-color: #009688; 
$light-primary-color: #B2DFDB; 
$text-primary-color: #FFFFFF; 
$accent-color: #FF4081; 
$primary-text-color: #212121; 
$secondary-text-color: #727272; 
$divider-color: #B6B6B6; 